@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap';
// @import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

/* ------------------------------------------------------------ */

/* variables */
$accent-color: #ED7745;
$dark-color: #0E2B36;
$mid-color: #769DAF;
$light-color: #BFCAD3;
$white-color: #DCE6EE;
$section-padding: 100px 0px;

/* ------------------------------------------------------------ */

/* animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-element {
    opacity: 0;
    transition: opacity 0.5s;
}

.animate-fadeIn {
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.25s;
}

/* ------------------------------------------------------------ */

/* custom colors */
.coul-accent {color: $accent-color !important;}
.coul-dark {color: $dark-color !important;}
.coul-mid {color: $mid-color !important;}
.coul-light {color: $light-color !important;}
.coul-white {color: $white-color !important;}

.hover-accent:hover {color: $accent-color !important;}
.hover-dark:hover {color: $dark-color !important;}
.hover-mid:hover {color: $mid-color !important;}
.hover-light:hover {color: $light-color !important;}
.hover-white:hover {color: $white-color !important;}

.bg-accent {background-color: $accent-color !important;}
.bg-dark {background-color: $dark-color !important;}
.bg-mid {background-color: $mid-color !important;}
.bg-light {background-color: $light-color !important;}
.bg-white {background-color: $white-color !important;}

/* ------------------------------------------------------------ */

/* Transitions */
.border-right, .border-left {
    position: relative;
    height: 2px;
    background-color: $light-color; 
}

.border-right {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
}

.border-left {
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
}

.border-expand {
    transition: transform 0.1s linear;
}

/* ------------------------------------------------------------ */

/* Styles generaux */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: $light-color;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-image: url("../img/noise_bg_cropped_50.jpg");
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Prata', serif; margin-bottom: 0px; text-transform: none;}

h1 { font-size: 100px; }
h2 { font-size: 70px; }
h3 { font-size: 40px; }
h4 { font-size: 30px; }
h5 { font-size: 22px; }
h6 { font-size: 20px; }

a {
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.icon {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.bouton {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;

    span {
        font-weight: 700;
        padding: 2px 8px;
        border: 1px solid $accent-color;
        transform: skew(-15deg);
        display: inline-block;
        font-size: 24px;
    }
}

.btn-dark {
    color: $dark-color;
    transition: all 0.5s ease-in-out;
}

.btn-dark:hover {
    color: $accent-color;
}

.btn-light {
    color: $light-color;
    transition: all 0.5s ease-in-out;
}

.btn-light:hover {
    color: $accent-color;
}

.btn-arrow {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 60px;
    line-height: 80px;
    text-transform: lowercase;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
    position: relative;
}

.btn-arrow span.arrow {
    display: block;
    position: absolute;
    right: -300px;
    opacity: 0;
    transition: right 1s ease-in-out, opacity 1s ease-in-out;
}

.btn-arrow:hover span.arrow {
    right: -150px;
    opacity: 1;
}

header {
    min-height: calc(1080px - 150px);
}

section {
    padding: $section-padding;
    min-height: calc(1080px - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-blend-mode: multiply;
    background-image: url("../img/noise_bg_cropped_50.jpg");
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
}

/* ------------------------------------------------------------ */

/* Navigations */
.menu-open, 
.menu-close {
    top: 25px;
    position: fixed;
    z-index: 100;
    color: $accent-color;
    cursor: pointer;
    border: none;
    right: 25px;
    width: 60px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(
        25% 0%, 
        75% 0%, 
        100% 50%, 
        75% 100%, 
        25% 100%, 
        0% 50%
    );
    background: $dark-color;
    transition: all 0.3s;
    font-size: 25px;
}

.menu-open:hover,
.menu-close:hover {
    color: $light-color;
}

.main-navigation {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $dark-color;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .nav-logo {
        position: absolute;
        top: 0;
        left: 0;

        .logo {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 30%;
            z-index: 102;
        }
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 90vh;
        row-gap: 60px;
        justify-content: space-between;
        padding: 100px 25px 100px 0px;

        .header-menu {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            padding-right: 100px;

            a {
                font-size: 75px;
                color: $light-color;
                font-family: 'Prata', serif; 
            }

            a:hover {
                color: $white-color;
            }
        }
    }

    .social-media {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        padding-right: 100px;

        a {
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $accent-color;

            i {
                font-size: 24px;
            }
        }

        a:hover {
            color: $white-color;
        }
    }
}

/* ------------------------------------------------------------ */

/* Accueil - Header */
.header-home {
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-image: url("../img/imageHeader.jpg");
    background-attachment: fixed;
    background-size: cover;

    .header-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
        .content {
            width: 50%;
    
            h1 {
                opacity: 0;
            }
    
            .header-title {
                animation: fadeIn 1s forwards;
                animation-delay: 0s;
            }
        }
    
        .logo {
            position: relative;
    
            img {
                opacity: 0;
            }
    
            .logo-image {
                animation: fadeIn 1.5s forwards;
                animation-delay: 0.5s;
            }
    
            .logo-arrow {
                position: absolute;
                left: 0;
                animation: fadeIn 2s forwards;
                animation-delay: 1s;
            }
        }
    }

    .shapes {
        position: absolute;
        top: -100px;
        left: -300px;
        z-index: 10;
        width: 1200px;
        height: 1200px;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/* Accueil - Introduction */
.home-intro {
    position: relative;
    z-index: 1;

    .portrait {
        position: absolute;
        z-index: 20;

        .portrait-me {
            position: absolute;
        }

        .portrait-salem {
            position: absolute;
        }

        .shape {
            z-index: 1;
            position: relative;
        }

        .arrow {
            z-index: 1;
            position: absolute;
            width: 125px;
            height: auto;

            .arrow-shape {
                position: absolute;
                width: 125px;
                height: auto;
            }
        }

        p {
            z-index: 1;
            position: absolute;
            font-size: 12px;
            left: 0px;
            right: 0px;
            margin: auto;
            text-align: center;
        }
    }

    .portrait:has(.portrait-me) {
        right: 300px;
        top: 100px;

        .arrow {
            left: -80px;
            top: 0px;

            p {
                top: 15px;
            }
        }
    }

    .portrait:has(.portrait-salem) {
        right: 150px;
        bottom: 200px;

        .portrait-salem {
            top: -20px;
            left: -10px;
        }

        .arrow {
            left: -120px;
            bottom: 0px;

            p {
                bottom: -15px;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .intro-content {
        padding-top: 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .btn {
            width: fit-content;
        }
    }

    .shapes {
        position: absolute;
        top: 100px;
        right: 0px;
        z-index: 10;
        width: 1200px;
        height: 1200px;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/* Accueil - Expérience */
.home-experience {
    .experience-top,
    .experience-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 4%;
        flex: 1;
    }

    .experience-top {
        padding-left: 60px;
    }

    .experience-bottom {
        padding-right: 60px;
    }

    .experience-top h2,
    .experience-bottom h2 {
        min-width: fit-content;
    }

    .blocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 4%;
        row-gap: 40px;
        justify-content: space-between;
        padding: 60px 0;
        opacity: 0;
        transform: translateY(50px);
        transition: all 0.5s ease-in-out;
    
        &.blocks-active {
            opacity: 1;
            transform: translateY(0);
        }
    
        .block {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: fit-content;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
    
            &.block-active {
                opacity: 1;
            }
    
            h3 {
                font-size: 100px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 200;
            }
        }
    }
}

/* ------------------------------------------------------------ */

/* Page A Propos - Header */
.header-gen {
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    align-items: center;
    min-height: auto;
    
    .header-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 20% 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-image: url("../img/noise_bg_cropped_50.jpg");
        background-attachment: fixed;
        padding: 120px 0px;
        background-color: $dark-color;
    
        .content {
            width: 50%;

            .arrow {
                position: absolute;
                top: -60px;
                left: -125px;
                right: 0;
                margin: auto;
            }
    
            h1 {
                opacity: 0;
            }
    
            .header-title {
                animation: fadeIn 1s forwards;
                animation-delay: 0s;
            }
        }
    }

    .shapes {
        position: absolute;
        top: -300px;
        left: -100px;
        z-index: 10;
        width: 800px;
        height: 800px;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/* Page A Propos - Introduction */
.apropos-intro {
    position: relative;
    z-index: 1;

    .portrait {
        position: absolute;
        z-index: 20;

        .portrait-me {
            position: absolute;
        }

        .portrait-salem {
            position: absolute;
        }

        .shape {
            z-index: 1;
            position: relative;
        }

        .arrow {
            z-index: 1;
            position: absolute;
            width: 125px;
            height: auto;

            .arrow-shape {
                position: absolute;
                width: 125px;
                height: auto;
            }
        }

        p {
            z-index: 1;
            position: absolute;
            font-size: 12px;
            left: 0px;
            right: 0px;
            margin: auto;
            text-align: center;
        }
    }

    .portrait:has(.portrait-me) {
        right: 300px;
        top: 100px;

        .arrow {
            bottom: -40px;
            right: 180px;

            p {
                bottom: 0;
            }
        }
    }

    .portrait:has(.portrait-salem) {
        right: 150px;
        bottom: 200px;

        .portrait-salem {
            top: -20px;
            left: -10px;
        }

        .arrow {
            left: -120px;
            bottom: 0px;

            p {
                bottom: -15px;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .intro-content {
        padding-top: 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: relative;

        .btn {
            width: fit-content;
        }

        .je-suis {
            display: flex;
            flex-direction: row;
            column-gap: 4%;
            align-items: center;
        }

        .arrow {
            top: -20px;
            position: absolute;
            right: -250px;
        }
    }

    .shapes {
        position: absolute;
        top: 100px;
        right: 0px;
        z-index: 10;
        width: 1200px;
        height: 1200px;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/* Page A Propos - Section Texte */
.section-texte {
    display: flex;
    column-gap: 4%;
    align-items: center;

    .arrow {
        position: absolute;
        bottom: -125px;
        z-index: 1;
    }
}

.soft-skills {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    top: -75px;
    width: 100%;
    z-index: 1;
    max-width: 1400px;

    .skill {
        flex: 1;
        aspect-ratio: 1.5 / 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
    }
}

/* Page A Propos - Section Texte a gauche */
.section-texte.texte-gauche {
    flex-direction: row;

    .content {
        padding-left: 120px;
    }
}

/* Page A Propos - Section Texte a droite */
.section-texte.texte-droite {
    flex-direction: row-reverse;

    .content {
        padding-right: 120px;
    }
}

/* ------------------------------------------------------------ */

/* Page Portfolio - Header */
.header-portfolio {
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    align-items: center;
    min-height: auto;
    
    .header-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-image: url("../img/noise_bg_cropped_50.jpg");
        background-attachment: fixed;
        padding: 120px 0px 0px 0px;
        background-color: $dark-color;
        position: relative;
    
        .content {
            width: 50%;
    
            h1 {
                opacity: 0;
            }
    
            .header-title {
                animation: fadeIn 1s forwards;
                animation-delay: 0s;
            }

            .arrow {
                position: absolute;
                top: -60px;
                left: -125px;
                right: 0;
                margin: auto;
            }
        }
    }

    .shapes {
        position: absolute;
        top: -450px;
        left: 10px;
        z-index: 10;
        width: 800px;
        height: 800px;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.portfolio-list {
    position: relative;
    z-index: 1;

    .portfolio-content {
        display: flex;
        flex-direction: column;
        row-gap: 200px;
        max-width: 1200px;

        .pf-web {
            position: relative;
            z-index: 20;
            top: 100px;
            display: flex;
            flex-direction: row-reverse;
    
            .content {
                align-items: flex-end;
    
                .btn-pf-web {
                    position: absolute;
                    width: 450px;
                    height: auto;      
                }
        
                .shape {
                    z-index: 1;
                    position: relative;
                    right: 30px;
                    top: 40px;
                }
        
                .arrow {
                    z-index: 1;
                    position: absolute;
                    width: 460px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        row-gap: 20px;
                        left: -80px;
                        position: relative;

                        h2 {
                            opacity: 0;
                        }

                        .section-title {
                            text-align: center;
                            font-weight: 200;
                            transition: all 0.5s ease-in-out;
                            font-family: "Montserrat", sans-serif;
                            position: relative;
                        }
                    }
                }
            }
        }

        .pf-web:hover {
            .section-title {
                color: $accent-color !important;
            }

            .bouton {
                color: $accent-color;
            }
        }
    
        .pf-graphisme {
            position: relative;
            z-index: 20;
            top: 100px;
            display: flex;
            flex-direction: row;
    
            .content {
                align-items: flex-end;
    
                .btn-pf-graphisme {
                    position: absolute;
                    width: 450px;
                    height: auto;   
                    left: -60px;   
                }
        
                .shape {
                    z-index: 1;
                    position: relative;
                    right: 30px;
                    top: 40px;
                }
        
                .arrow {
                    z-index: 1;
                    position: absolute;
                    width: 460px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        row-gap: 20px;
                        right: -185px;
                        position: relative;

                        h2 {
                            opacity: 0;
                        }

                        .section-title {
                            text-align: center;
                            font-weight: 200;
                            transition: all 0.5s ease-in-out;
                            font-family: "Montserrat", sans-serif;
                            position: relative;
                        }
                    }
                }
            }
        }

        .pf-graphisme:hover {
            .section-title {
                color: $accent-color !important;
            }

            .bouton {
                color: $accent-color;
            }
        }

        .pf-illustration {
            position: relative;
            z-index: 20;
            top: 100px;
            display: flex;
            flex-direction: row-reverse;
    
            .content {
                align-items: flex-end;
    
                .btn-pf-illustration {
                    position: absolute;
                    width: 450px;
                    height: auto;      
                }
        
                .shape {
                    z-index: 1;
                    position: relative;
                    right: 30px;
                    top: 40px;
                }
        
                .arrow {
                    z-index: 1;
                    position: absolute;
                    width: 460px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        row-gap: 20px;
                        left: -175px;
                        position: relative;

                        h2 {
                            opacity: 0;
                        }

                        .section-title {
                            text-align: center;
                            font-weight: 200;
                            transition: all 0.5s ease-in-out;
                            font-family: "Montserrat", sans-serif;
                            position: relative;
                        }
                    }
                }
            }
        }

        .pf-illustration:hover {
            .section-title {
                color: $accent-color !important;
            }

            .bouton {
                color: $accent-color;
            }
        }
    }
}

/* ------------------------------------------------------------ */

/* Page Single Portfolio  - Header */
.header-single-portfolio {
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    align-items: center;
    min-height: auto;
    
    .header-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-image: url("../img/noise_bg_cropped_50.jpg");
        background-attachment: fixed;
        padding: 120px 0px 0px 0px;
        background-color: $light-color;
        position: relative;
    
        .content {
            width: 50%;
            row-gap: 0px;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 50px;
                font-weight: 200;
            }
 
            h1 {
                opacity: 0;
            }
    
            .header-title {
                animation: fadeIn 1s forwards;
                animation-delay: 0s;
            }

            .arrow {
                position: absolute;
                top: -60px;
                left: -125px;
                right: 0;
                margin: auto;
            }
        }
    }

    .shapes {
        position: absolute;
        top: -450px;
        left: 10px;
        z-index: 10;
        width: 800px;
        height: 800px;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.single-portfolio-list {
    
    justify-content: flex-start;

    .single-portfolio-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;

        .single-projet {
            flex: 0 0 32%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            aspect-ratio: 1.67/1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        }

        .single-projet:hover {
            background-color: $dark-color;
            background-blend-mode: multiply;
        }

        .bouton {
            display: none;
        }

        .single-projet:hover .bouton {
            display: flex;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 400;

    .overlay-content {
        position: relative;
        text-align: start;
        color: $light-color;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 4%;
        padding: 0px 100px;
    }
    
    .overlay-content img {
        max-width: 60vw;
        max-height: 85vh;
    }
    
    .caption {
        margin-top: 20px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        min-width: 20vw;

        .note {
            font-size: 14px;
            line-height: 20px;
            color: $white-color;

            a {
                color: $accent-color;
            }

            a:hover {
                color: $light-color;
            }
        }
    }
    
    .close-btn {
        position: absolute;
        top: 30px;
        right: 43px;
        font-size: 30px;
        color: $accent-color;
        cursor: pointer;
        z-index: 1;
    }
}

/* ------------------------------------------------------------ */

/* Page Expertise - Logiciel */
.stacks {
    display: flex;
    flex-direction: row;
    column-gap: 8%;
    width: 100%;

    .stack {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        p {
            text-transform: uppercase;
            flex: 1;
        }
    
        span {
            display: flex;
            flex-direction: row;
            column-gap: 5px;
            align-items: center;
            flex: 1;

        }
    }
}

/* ------------------------------------------------------------ */

/* Page Contact */
.section-contact {
    position: relative;
    z-index: 1;

    .container {
        display: flex;
        flex-direction: row;
    }

    .contact-content {
        padding-top: 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .btn {
            width: fit-content;
        }

        a {
            color: $accent-color;
            font-size: 18px;
            text-transform: uppercase;
        }

        a:hover {
            color: $dark-color;
        }
    }

    .shapes {
        position: absolute;
        top: 100px;
        right: 0px;
        z-index: 10;
        width: 1200px;
        height: 1200px;
    
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/* ------------------------------------------------------------ */

/* CTA - Contact */
.cta-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cta-arrow {
        animation-delay: 1s;
        padding-top: 20px;
    }

    .shapes {
        flex: 1;
    }

    .content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 4%;
        flex: 3;
        height: 100%;
        padding-right: 100px;

        .contact-info {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        .section-title {
            animation-delay: 0.5s;
        }

        .btn {
            width: fit-content;
        }
    }
}

/* ------------------------------------------------------------ */

/* CTA - Follow */
.cta-follow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cta-arrow {
        animation-delay: 1s;
        padding-top: 20px;

        img {
            max-height: 225px;
        }
    }

    .shapes {
        flex: 1;
    }

    .content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 4%;
        flex: 3;
        height: 100%;
        padding-right: 100px;

        .follow-info {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        .section-title {
            animation-delay: 0.5s;
        }

        .btn {
            width: fit-content;
        }

        .social-media {
            display: flex;
            flex-direction: row;
            column-gap: 20px;

            a {
                width: fit-content;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $accent-color;

                i {
                    font-size: 24px;
                }
            }

            a:hover {
                color: $white-color;
            }
        }
    }
}

/* ------------------------------------------------------------ */

/* CTA CV */
.cta-cv {
    min-height: auto;
    padding: 120px 0px;

    .content {
        align-items: center;
        text-align: center;
    }
}

/* ------------------------------------------------------------ */

/* Footer */
footer {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 4%;
    min-height: 350px;
    padding-top: 100px;
    padding-left: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-image: url("../img/noise_bg_cropped_50.jpg");
    background-attachment: fixed;

    a:has(.logo) {
        width: 100%;
        z-index: 20;
    }

    .footer-logo {
        width: 650px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        overflow: hidden;

        .logo {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            margin: auto;
            max-width: 250px;
        }

        .shapes {
            position: absolute;
            top: 10px;
            right: 0;
            width: 650px;
            height: 650px;

            .shape-footer {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .footer-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;

        .footer-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 100px;

            .menu {
                display: flex;
                flex-direction: row;
                column-gap: 20px;
            }

            .social-media {
                display: flex;
                flex-direction: row;
                column-gap: 20px;

                a {
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $accent-color;

                    i {
                        font-size: 24px;
                    }
                }
            }

            a {
                color: $light-color;
                font-size: 18px;
                text-transform: uppercase;
            }

            a:hover {
                color: $white-color;
            }
        }

        .footer-divider {
            border-bottom: 1px solid $accent-color;
        }

        .footer-copyright {
            color: $light-color;
            font-size: 14px;
        }
    }
}

/* ------------------------------------------------------------ */

/* RESPONSIVE */
@media screen and (max-width: 1700px) {
    .header-home {
        .shapes {
            width: 1000px;
            height: 1000px;
        }
    }

    .header-single-portfolio {
        .shapes {
            top: -50%;
            left: -1%;
        }

        .header-content {
            padding: 120px 0 0 200px;

            .content {
                .arrow {
                    left: 30px;
                }
            }
        }
    }

    .cta-contact {
        column-gap: 2%;
    }

    footer {
        padding-top: 100px;
        padding-left: 0;

        .footer-content {
            .footer-menu {
                padding-right: 0;
                row-gap: 10px;
                flex-direction: column;
            }
        }
    }

    /* Page A propos */
    .apropos-intro .intro-content .arrow {
        display: none;
    }
}

@media screen and (max-width: 1536px) {
    .header-home {
        .shapes {
            img {
                top: 50%;
                bottom: 50%;
            }

            width: 800px;
            height: 800px;
        }

        .header-content {
            padding-right: 40px;
        }
    }

    header {
        min-height: 100vh;
    }
}

@media screen and (max-width: 1366px) {
    .header-home {
        .shapes {
            img {
                top: 25%;
                bottom: 50%;
            }

            width: 800px;
            height: 800px;
        }

        .header-content {
            padding-right: 40px;
        }
    }

    header {
        min-height: 100vh;
    }

    /* Page A propos */
    .soft-skills {
        padding: 0px 40px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1270px) {
    h1 {
        font-size: 85px;
    }

    section {
        padding: 60px 40px;
        min-height: auto;
        background-attachment: revert;
    }

    .main-navigation {
        .navigation {
            height: 100vh;

            .header-menu {
                align-items: flex-end;
                justify-content: flex-end;
                padding-right: 40px;
            }
        }

        .social-media {
            padding-right: 40px;
        }
    }

    .nav-logo {
        .shape {
            max-width: 100vw;
        }
    }

    .header-home {
        background-attachment: revert;
    }

    .border-right,
    .border-left {
        display: none;
    }

    .home-experience {
        .experience-top {
            padding-left: 0;

            h2 {
                min-width: 100%;
                text-align: center;
            }
        }

        .experience-bottom {
            padding-right: 0;

            h2 {
                min-width: 100%;
                text-align: center;
            }
        }

        .blocks {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 20px 0;
        }
    }

    .single-portfolio-list {
        padding-top: 40px;

        .single-portfolio-content {
            padding: 40px 0px;

            .single-projet {
                flex: 0 0 48.5%;
            }
        }
    }

    .header-single-portfolio {
        .header-content {
            justify-content: flex-start;
            padding: 120px 40px 0 40px;

            .content {
                width: 100%;

                .arrow {
                    left: 30px;
                    display: none;
                }
            }
        }

        .shapes {
            top: -50%;
            left: -1%;
            display: none;
        }
    }

    /* intro accueil */
    .home-intro {
        .shapes {
            display: none;
        }

        .portrait {
            &:has(.portrait-me) {
                right: 150px;
                top: 100px;
            }

            &:has(.portrait-salem) {
                right: 100px;
                bottom: 100px;
            }
        }
    }

    /* call to actions */
    .cta-contact {
        .shapes {
            display: none;
        }

        .content {
            padding: 0 100px;
        }
    }

    .cta-follow {
        .shapes {
            display: none;
        }

        .content {
            padding: 0 100px;
        }
    }

    /* footer */
    footer {
        flex-direction: column-reverse;

        .footer-logo {
            width: 100%;
            height: 350px;
            justify-content: center;

            .logo {
                top: 60%;
                max-width: 280px;
            }

            .shapes {
                position: absolute;
                top: 80px;
                right: 0;
                width: 100%;
                height: 525px;
            }
        }

        .footer-content {

            .footer-menu,
            .footer-copyright {
                padding: 0 40px;
            }
        }
    }

    /* Page Portfolio */
    .portfolio-list {
        padding-bottom: 200px;
    }

    .overlay .overlay-content {
        flex-direction: column;
        padding: 0px 0px;
    }

    .overlay .overlay-content img {
        max-width: 80vw;
        max-height: 60vh;
    }
}

@media screen and (max-width: 1024px) {
    .header-home {
        .shapes {
            display: none;
        }

        .header-content {
            justify-content: flex-start;
            padding: 100px 40px;

            .content {
                width: 100%;
            }
        }
    }

    .home-intro {
        .container {
            padding: 0;
        }

        .intro-content {
            width: 100%;
            padding-top: 0;
        }

        .portrait {
            display: none;
        }
    }

    .btn-arrow {
        span.arrow {
            display: none;
        }
    }

    .home-portfolio {
        .content {
            align-items: center;
        }
    }

    /* entete generale*/
    .header-gen .shapes {
        display: none;
    }

    .header-gen .header-content {
        justify-content: flex-start;
        clip-path: none;
        padding: 120px 40px;    
    }

    .header-gen .header-content .content {
        width: 100%;
    }
    .header-gen .header-content .content .arrow {
        display: none;
    }

    /* page A propos */
    .section-texte {
        flex-direction: column !important;
        .section-texte-image {
            display: none;
        }
        .arrow{
            display: none;
        }
    }
    .section-texte.texte-droite .content {
        padding-right: 0px;
    }
    .section-texte.texte-gauche .content {
        padding-left: 0px;
    }

    .soft-skills {
        padding: 0px 40px;
        flex-wrap: wrap;
        row-gap: 20px;
        position: relative;
        top: -100px;

        .skill {
            flex: 0 0 32%;
        }
    }
    .apropos-intro .portrait {
        display: none;
    }

    .apropos-intro .intro-content {
        width: 100%;
        padding-top: 0px;
    }

    .apropos-intro .intro-content .je-suis {
        flex-direction: column;
        align-items: flex-start;
    }

    .stacks {
        display: flex;
        flex-direction: column;
        column-gap: 8%;
        width: 100%;
    }

    /* Page Contact */
    .section-contact .contact-content {
        padding-top: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .section-contact .shapes {
        display: none;
    }

    .cta-cv {
        padding: 60px 40px;
    }

    /* Page portfolio */
    .header-portfolio .header-content {
        justify-content: flex-start;
        background-attachment: scroll;
        padding: 100px 40px 0px 40px;
    }

    .header-portfolio .header-content .content .arrow {
        display: none;
    }

    .header-portfolio .shapes {
        display: none;
    }

    .portfolio-list .portfolio-content {
        row-gap: 100px;
        max-width: 1000px;
        padding-bottom: 200px;
    }

    .portfolio-list .portfolio-content .pf-web .content,
    .portfolio-list .portfolio-content .pf-graphisme .content,
    .portfolio-list .portfolio-content .pf-illustration .content {
        align-items: center;
    }
    
    .portfolio-list .portfolio-content .content {
        flex-direction: row;
    }

    .portfolio-list .portfolio-content .pf-web .content .btn-pf-web,
    .portfolio-list .portfolio-content .pf-graphisme .content .btn-pf-graphisme,
    .portfolio-list .portfolio-content .pf-illustration .content .btn-pf-illustration {
        position: relative;
        width: 400px;
    }
    
    .portfolio-list .portfolio-content .pf-web .content .shape,
    .portfolio-list .portfolio-content .pf-graphisme .content .shape,
    .portfolio-list .portfolio-content .pf-illustration .content .shape {
        display: none;
    }   
    
    .portfolio-list {
        padding-bottom: 0px;
    }

    .portfolio-list .portfolio-content .pf-web .content .arrow,
    .portfolio-list .portfolio-content .pf-graphisme .content .arrow,
    .portfolio-list .portfolio-content .pf-illustration .content .arrow {
        width: 100%;
    }

    .portfolio-list .portfolio-content .pf-web .content .arrow .arrow-shape,
    .portfolio-list .portfolio-content .pf-graphisme .content .arrow .arrow-shape,
    .portfolio-list .portfolio-content .pf-illustration .content .arrow .arrow-shape {
        width: 300px;
    }

    .portfolio-list .portfolio-content .pf-web .content .arrow .title,
    .portfolio-list .portfolio-content .pf-illustration .content .arrow .title {
        align-items: flex-start;
        left: 0;
    }

    .portfolio-list .portfolio-content .pf-graphisme .content .arrow .title {
        align-items: flex-end;
        right: 0;
    }

    .portfolio-list .portfolio-content .pf-graphisme .content .arrow {
        left: 0;
        right: 0;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .portfolio-list .portfolio-content .pf-graphisme .content .btn-pf-graphisme {
        left: 0px;
    }

    .overlay .overlay-content img {
        max-width: 90vw;
    }

    .overlay .caption {
        min-width: 90vw;
        max-width: 80vw;
        row-gap: 5px;
    }

    .overlay .caption p {
        font-size: 14px;
    }

    .overlay .caption .note {
        font-size: 13px;
    }
}

@media screen and (max-width: 820px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .single-portfolio-list {
        .single-portfolio-content {
            .single-projet {
                flex: 0 0 100%;
            }
        }
    }

    .cta-contact {
        .content {
            padding: 0;
        }
    }

    .cta-follow {
        .content {
            padding: 0;
        }
    }

    footer {
        padding-top: 60px;

        .footer-content {
            .footer-menu {
                .menu {
                    flex-direction: column;
                }
            }
        }
    }

    /* Page A propos */
    .soft-skills .skill {
        flex: 0 0 49%;
    }

    /* Page portfolio */
    .portfolio-list .portfolio-content .pf-web .content .btn-pf-web, 
    .portfolio-list .portfolio-content .pf-graphisme .content .btn-pf-graphisme, 
    .portfolio-list .portfolio-content .pf-illustration .content .btn-pf-illustration {
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-list .portfolio-content .pf-web .content .btn-pf-web, 
    .portfolio-list .portfolio-content .pf-graphisme .content .btn-pf-graphisme, 
    .portfolio-list .portfolio-content .pf-illustration .content .btn-pf-illustration {
        width: 200px;
    }

    .header-portfolio .header-content {
        padding: 100px 40px 0px 40px;
    }

    .portfolio-list .portfolio-content .pf-web,
    .portfolio-list .portfolio-content .pf-graphisme,
    .portfolio-list .portfolio-content .pf-illustration {
        top: 0px;
    }

}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .main-navigation {
        .nav-logo {
            .logo {
                width: 200px;
            }
        }

        .social-media {
            padding-right: 0;
        }

        .navigation {
            .header-menu {
                padding-right: 0;

                a {
                    font-size: 50px;
                }
            }
        }
    }

    .header-home {
        .header-content {
            .logo {
                .logo-arrow {
                    width: 275px;
                }

                .logo-image {
                    width: 200px;
                }
            }
        }
    }

    .home-intro {
        .container {
            display: flex;
            flex-direction: row;
            padding: 0;
        }
    }

    header {
        min-height: 50vh;
    }

    section {
        padding: 40px 20px;
    }

    .cta-cv {
        padding: 40px 20px;
    }

    .btn-arrow {
        font-size: 40px;
        line-height: 40px;
    }

    .cta-contact {
        .cta-arrow {
            display: none;
        }
    }

    .cta-follow {
        .cta-arrow {
            display: none;
        }
    }

    footer {
        padding-top: 40px;

        .footer-content {

            .footer-menu,
            .footer-copyright {
                padding: 0 20px;
            }
        }

        .footer-logo {
            .shapes {
                top: 0;
            }
        }
    }

    /* Page A Propos */
    .soft-skills .skill {
        flex: 0 0 100%;
        max-width: 350px;
        margin: auto;
        font-size: 18px;
    }

    /* Page Portfolio */
    .header-portfolio .header-content {
        padding: 60px 20px 60px 20px;
    }

    .portfolio-list .portfolio-content {
        row-gap: 60px;
        padding: 0px 0px 100px 0px;
    }

    .portfolio-list .portfolio-content .pf-web .content .arrow .title,
    .portfolio-list .portfolio-content .pf-graphisme .content .arrow .title,
    .portfolio-list .portfolio-content .pf-illustration .content .arrow .title {
        row-gap: 10px;
        padding-top: 5px;
    }

    .portfolio-list .portfolio-content .pf-web .content .arrow .title .section-title,
    .portfolio-list .portfolio-content .pf-graphisme .content .arrow .title .section-title,
    .portfolio-list .portfolio-content .pf-illustration .content .arrow .title .section-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {

    .overlay .caption br {
        display: none;
    }

    .overlay .caption p {
        font-size: 12px;
    }

    .overlay .caption .note {
        font-size: 10px;
    }
}