<template class="cta-contact bg-dark">
    <div class="shapes">
        <img id="shape4" class="shape" src="../assets/img/cta_poly_1.svg" alt="polygone quatre">
    </div>

    <div class="content">
        <div class="cta-arrow arrow">
            <img src="../assets/img/cta_arrow1.svg" alt="arrow cta">
        </div>

        <div class="contact-info">
            <h2 class="section-title coul-accent">vous avez un projet en tête ou des questions?</h2>
            <p class="coul-white">N'hésitez pas à me contacter! Ensemble, nous pouvons créer quelque chose de
                formidable. </p>
            <p class="coul-white">Cliquez sur le bouton ci-dessous pour démarrer la conversation.</p>
            <a href="#" data-path="contact.html" target="" class="bouton btn-light">Contactez <span>Moi</span></a>
        </div>
    </div>
</template>